<div class="navbar-fixed"> 
    <nav class="z-depth-0" role="navigation">
          <!--hide-on-large-only-->
        <div class="left">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <div class="left super-nav-wrapper">
            <div class="nav-wrapper">
                    <a id="logo-container" href="#" class="brand-logo">
                      <i class="lbracket material-icons">keyboard_arrow_left</i>
                      nodtes
                      <i class="rbracket material-icons">keyboard_arrow_right</i>
                    </a>            
            </div>
            <div class="h6-font-size breadcrumb-container">
                {{#breadCrumb breadCrumb}}  {{/breadCrumb}}
            </div>
        </div>
        <div class="center title">
            {{{title}}}
        </div>
    </nav>        
</div>

{{>siteDirectory}}