<!DOCTYPE html>
<html lang="en">
<head>
  
  {{>head}}
  
  <style media="screen" type="text/css">
  </style>
  
  <title>{{{title}}}</title>
</head>
<body>

<div class="markdown-body" >
    {{{body}}}
</div>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

</body>
</html>
