<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
  <header>
    {{>header}}
  </header>
  <main>
    <div class="row">
      {{>mainContent}}
      {{>fileHierarchy}}
    </div>
  </main>
  <footer class="page-footer orange lighten-1">
    {{>footer}}
  </footer>
    
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
