<div class="col-md-6 directory-contents">
    <h5>Directories</h5>
    <ul class="sub-dirs">
        {{#dirEntry dirContents.dirs}}  {{/dirEntry}}
    </ul>
    <h5>Files</h5>
    <ul class="files">
        {{#dirEntry dirContents.files}}  {{/dirEntry}}
    </ul>
</div>    
<div class="col-md-6">
</div>
