/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}



/* ----This is for a Sticky Footer---- */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}



/* --- Layout: Offset main content/footer from the fixed left side-nav, if shown ---- */
main, footer {
    padding-left: 240px;  /* TODO: might change based on ultimate dimensions */
}
@media only screen and (max-width: 992px) { 
    header, main, footer {
        padding-left: 0;
    }
    div.scrollspy-container.content-container {
        padding-right: 10px;
        padding-left: 5px;
    }
}
@media only screen and (min-width: 993px) { 
    div.scrollspy-container.content-container {
        padding-right: 25px;
        padding-left: 15px;
    }
}
@media only screen and (max-height: 600px) {
    div.hide-on-short {
        display: none !important;
    }
    div.full-on-short {
        width: 100% !important;
        margin-left: auto !important;
        left: auto !important;
        right: auto !important;
    }
}
footer.page-footer {
  padding-top: 0px;
}


/* --- Rearrange Layout: Hide Breadcrumb on Short Screens --- */

@media only screen and (min-width: 993px) {
  .breadcrumb-container {
    padding-left: 15px; 
  }
} 
@media only screen and (max-width: 992px) {
  .breadcrumb-container {
    padding-left: 3px; 
  }  
}
@media only screen and (max-height: 450px), only screen and (max-width: 600px) {
    .breadcrumb-container {
        line-height: 110%;
        margin: 0.5rem 0 0.4rem 0;
        display: none;
    }
    nav { 
        height: 64px; /* TODO: might change based on ultimate dimensions */
    }
    .side-nav.fixed {
        top: 64px; /* TODO: might change based on ultimate dimensions */
    }
    div.markup-content {
        padding-top: 64px;
        margin-top: -64px;
    }
    .content-container {
        margin-top: 0px;
    }
    h1, h2, h3, h4, h5, h6 { 
        text-align: left;
        margin: 0;
    }

}
@media only screen and (min-height: 451px) and (min-width: 601px) {
    .breadcrumb-container {
        line-height: 110%;
        margin: 0.5rem 0 0.4rem 0;   
    }
    nav { 
        height: 100px; /* TODO: might change based on ultimate dimensions */
    }
    .side-nav.fixed {
        top: 100px; /* TODO: might change based on ultimate dimensions */
    }
    div.markup-content {
        padding-top: 100px;
        margin-top: -100px;
    }
    .content-container {
        margin-top: 20px;
    }
    h1, h2, h3, h4, h5, h6 { 
        text-align: left;
        margin: 0.5em 0 0 0;
    }

}




/* --- Right rail: TOC --- */
.toc-container {
    position: fixed;
    top: 85px;  /* TODO: might change based on ultimate dimensions */
    overflow-y: auto;
} 
.toc-container li ul {
    margin-left: 10px;
}
.toc-container > ul {
    /*padding-bottom: 50px;*/
}


/* --- Fixed Header / Sidenav / Sidenav-overlay Z-index updates --- */
ul.side-nav {
    z-index: 1000;
}
div.navbar-fixed, header nav.breadcrumb {
    z-index: 998;
}
#sidenav-overlay {
    z-index: 999;
}



/* --- Fixed Header / SideNav Layout --- */
.logo-wrapper { position: absolute; }

nav .nav-wrapper {
    position: static;
    height: auto;
    line-height: auto;
}
nav .brand-logo {
    position: static;
    display: inline;
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        transform: inherit; /* ie11 fix */
    }
}
nav div.super-nav-wrapper {
    padding-left: 10px;
}
nav div.title {
    color: #fff;
    font-size: 2.1rem;
    text-transform: uppercase;
    margin: 0 25px 0 25px;
}
#logo-container {
    color: #C5CAE9;
    font-size: 1.8rem;
}



/* --- Breadcumb Resize --- */
a.breadcrumb {
   font-size: 1rem;
   line-height: 110%;
   margin: 0.5rem 0 0.4rem 0; 
}
a.breadcrumb:before {
    font-size: 15px;
}



/* --- Side Nav Collapsible Menu --- */
#nav-mobile {
    padding-top: 10px;
    padding-left: 3px;
    padding-bottom: 200px;
}
#nav-mobile li i.material-icons {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-right: 5px;
} 
#nav-mobile li {
    line-height: 100%;
    padding: 5px 0px;
}
#nav-mobile li a.tree-node, #nav-mobile li a.tree-dir {
    cursor: pointer;
    height: auto;
    line-height: 100%;
    padding: 0px;
}
#nav-mobile li a.tree-node:hover, #nav-mobile li a.tree-dir:hover, #nav-mobile li:hover {
    background-color: #fff;
}
#nav-mobile li ul.tree-dir-contents {
    margin-left: 30px;
}
#nav-mobile ul.tree-dir-contents i.material-icons {
    margin-left: -2px;
}
#nav-mobile > li > a.tree-node {
    margin-left: 5px;
}
#nav-mobile li.active-path > a.tree-node {
    font-weight: 500;
    color: #4CAF50;
}



/* ---- Palette generated by Material Palette - materialpalette.com/indigo/green --- */

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/* ---- manifest panel section ---- */
#manifest-panel { background-color: #eeeeee; color: #727272; }


/* --- Color Overrides Based on Pallete Above ---*/
nav {
    background-color: #3F51B5;
}
html {
    color: #212121;
}
.table-of-contents a.active {
    border-left: 2px solid #4CAF50;;
}
.table-of-contents a:hover {
    border-left: 1px solid #727272;
}
a {
    /*color: #303F9F;*/
    color: #3F51B5;
}






/* --- Markup Styles --- */
div.content-container li {
    line-height: 1.6;
}
div.content-container p, div.content-container ul {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
} 
div.content-container ul, div.content-container ol {
    padding: 0 0 0 2rem
}
div.content-container ul > li {
    list-style-type: disc;
}
div.content-container ul  ul > li {
    list-style-type: circle;
}
div.content-container ul ul  ul > li {
    list-style-type: square;
}
div.content-container ul ul  ul ul > li {
    list-style-type: lower-alpha;
}
div.content-container ul ul  ul ul ul > li {
    list-style-type: square;
}
div.content-container ol > li {
    list-style-type: decimal;
}
div.content-container ol  ol > li {
    list-style-type: upper-alpha;
}
div.content-container ol ol  ol > li {
    list-style-type: lower-roman;
}
div.content-container ol ol  ol ol > li {
    list-style-type: lower-alpha;
}
div.markup-content > ul, div.markup-content > ol {
    padding-left: 1.5rem;
}
div.markup-content img {
    border: 0;
    max-width: 100%;
    display: block;
}
div.markup-content pre {
    white-space: pre;
    margin: 0 0 0.6rem 0;
    display: block;
    position: relative;
}
div.markup-content pre code {
    font-family: Menlo, Monaco, Consolas, 'Droid Sans Mono', 'Courier New', monospace;
    border: 1px solid rgba(0, 0, 0, 0.18);
    overflow: auto;
    border-radius: 0.25rem;
}
@media only screen and (max-width: 992px) { 
    div.markup-content pre code, div.markup-content blockquote, div.markup-content table {
        max-width: 90%;
    }
}
@media only screen and (min-width: 992px) { 
    div.markup-content pre code, div.markup-content blockquote, div.markup-content table {
        max-width: 75%;
    }
}
div.markup-content.section {
    padding-bottom: 0px;
}
div.markup-content blockquote {
    margin: 0 0 0.6rem 0.25rem;
    padding-left: 0.65rem;
    padding-right: 0.2rem;
    border-left: 0.25rem solid #3F51B5;
    /*background: rgba(127, 127, 127, 0.1);*/
    background-color: #eeeeee;
    position: relative;
    overflow-x: auto;
}

/* --- table-related styles --- */
div.markup-content table > thead > tr, table > tbody > tr {
  border-bottom: 1px solid #ffffff;
  background-color:#eeeeee;
}
div.markup-content table > tbody > tr > td, div.markup-content table > thead > tr > th {
  border-radius: 0;
}
div.markup-content table > thead > tr {
  background-color: #c0c0c0;
  color: #ffffff;
}

div.markup-content h2 i.material-icons, div.markup-content h3 i.material-icons, div.markup-content h4 i.material-icons, div.markup-content h5 i.material-icons {
    /*font-size: 2.5rem;*/
    display: inline-block;
    vertical-align: middle;
    color: #C5CAE9;
} 
div.markup-content h2 i.material-icons:hover, div.markup-content h3 i.material-icons:hover, div.markup-content h4 i.material-icons:hover, div.markup-content h5 i.material-icons:hover {
    cursor: pointer;
} 
h2, h3, h4, h5, h6 {
    font-size: 2.0rem;
    margin-top: 1.0em;
    font-weight: 800;
}
h2 + ol, h2 + ul, h3 + ol, h3 + ul, h4 + ol, h4 + ul, h5 + ol, h5 + ul, h6 + ol, h6 + ul {
  margin-top: 0px;  /* this is to override a user-agent stylesheet in chrome */
}
#vertical-spacer + div.markup-content > h2:first-child {
  margin-top: 0px;
}

a.deactivate {
    border: none !important;
    font-weight: 300 !important;
}

code.inline-code {
  background: #F0F0F0;
  color: #880000;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.15em;
}

/* logo with brackets */
i.material-icons.lbracket, i.material-icons.rbracket {
  display: inline;
  vertical-align: middle;
}
i.lbracket {
  margin-right: -1rem;
}
i.rbracket {
  margin-left: -1rem;
}
footer i.lbracket, footer i.rbracket {
  font-size: 2.0rem;
}
footer i.lbracket {
  margin-left:-1rem;
}
a.footer-link {
  color: #ffffff;
  font-weight: 800;
}
div.footer-copyright { 
  font-weight: 800 !important;
  margin-top: -20px;
}
.footer-logo {
  margin-top: 10px;
}
footer p.project-info {
  margin-bottom: 0px;
}
footer div.proj-links {
  font-weight: 800;
  color: #ffffff;
}

/* ----- directory page --------- */
div.directory-contents h5 {
    color: #3F51B5;
}
div.directory-contents h5:first-child {
    margin-top: 0.0em;
}
div.directory-contents ul.files, div.directory-contents ul.sub-dirs {
    padding: 0 0 0 1rem;
}
div.directory-contents ul.files > li, div.directory-contents ul.sub-dirs > li {
    list-style-type: none ;
}